<div class="min-h-screen bg-gradient-to-br from-purple-900 via-blue-900 to-indigo-900">
  <%= render 'header' %>
  <%= render 'main' %>
  <%= render 'section' %>
  <%= render 'section2' %>
  <%= render 'footer' %>
</div>